
* {
  margin: 0px;
  padding: 0px;
}
body, main {

}

header {
  margin: 0px;
  padding: 0px;
  background-color: #F36415;
}

h1 {
  margin-left: 10px;
}

.titlelogo {
  font-family: 'Lobster', cursive;
  margin-top: 0px !important;
  padding: 15px;

}
.big {
  font-size: 120px;
  font-family: 'Lobster', cursive;
}
.responsive-img {
  margin: 30px;
}
.slogan {
  margin-top: 20px;
}
.dropdown-content li>span {
    color: #F36415 !important;
}
.select-wrapper input.select-dropdown {
    border-bottom: 1px solid #FF9800 !important;
  }
  .select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #FF9800 !important;
}

.font-text {

  font-family: 'Average', serif;
}

.orange-text {
  color: #F36415;
}

#map {
      height: 300px;
      margin: 5px;
     }
